<div class="profile-main">
    <section class="profile-left-upper-block">
        <h1>
            {{firstname}} {{lastname}}'s Profile
        </h1>
        <div class="basic-info">
             <h2>Basic Information</h2>
            <ul>
                <li>
                    <strong>Email:</strong>
                    {{email}}
                </li>
                <li>
                    <strong>Date of Birth:</strong>
                    {{day}}
                    {{month2}}
                    {{year}}
                </li>
                <li>
                    <strong>Gender:</strong>
                    {{gender}}
                </li>
            </ul>
        </div>
        <a href="../edit-profile/{{_id}}" class="edit-btn" role="button">Edit your info</a>
        {{!-- <a href="../delete-profile/{{_id}}" class="delete-btn" role="button">Delete your profile</a> --}}
        <form method="POST" action="../delete-profile/{{_id}}">
            <button type="submit" class="delete-btn">Delete your profile</button>
        </form>
    </section>
    <section class="profile-right-lower-block">
        <section class="profile-desc-card">
            <h2>Description:</h2>
                {{#if description}}
                <ul>
                    <li>{{description}}</li>
                </ul>
                {{else}}
                <ul>Nothing yet</ul>
                {{/if}}
        </section>
        <section class="profile-hobbies-card">
             <h2>Hobbies:</h2>
            <ul>
                {{#if hobbies}}
                {{#each hobbies}}
                <li>{{this}}</li>
                {{/each}}
                {{else}}
                <li>Nothing yet</li>
                {{/if}}
            </ul>
        </section>
    </section>
</div>