<section class="profile-upper-block">

    <div class="username">
        <h1>
            {{firstname}}
                {{lastname}}
        </h1>
    </div>
</section>
<section class="profile-lower-block">
    <h2>Profile Details</h2>
    <ul>
        <li>
            <strong>Email:</strong>
            {{email}}
        </li>
        <li>
            <strong>Date of Birth:</strong>
            {{day}}
               {{month2}}
                    {{year}}
        </li>
        <li>
            <strong>Gender:</strong>
            {{gender}}
        </li>
    </ul>
</section>